//NEW SPACER 
$spacer: 1.5rem;

//Colors
$green: #6E8330;
$dark-green: #323B18;
$cream: #F5F1DC;
$brown: #d2b37b;

//Fonts
$roboto: 'Roboto', sans-serif;
$satisfy: 'Satisfy', cursive;
$poiret: 'Poiret One', cursive;

$offcanvas-horizontal-width: 90%;